OPENROUTER_API_KEY=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
STRIPE_SECRET_KEY=sk_test_51S4Oz6ERFgtddT0AxnvdYSnziThmLKXZXJwYPXJen3AxRj6fM0oF3wykhmY7UBCdh2r4OZF7DioEYSJTaLspbWNO00ikU0AdeU
STRIPE_PUBLIC_KEY=pk_test_51S4Oz6ERFgtddT0AXyQ7UlrqR8pbdapLCl1qApNCD8k8kcqrurzO2ocUcDf6Gv3e1iLbE6tbs9QeX1n4OhUEaXFX00RAlRMJam
JWT_SECRET=change_this_to_a_very_long_random_string_abc123xyz789
SITE_URL=http://localhost:3000
PORT=3000
